body{
    background-color: #fff;
    color: var(--primary-black);
    overflow-x: hidden;
}

main{
    #hero{
        padding: 5rem 0;

        h1{
            font-size: 5rem;
            text-transform: capitalize;
            font-weight: 400;
            line-height: 5.5rem;
            span{
                color: var(--primary-color);
            }
            p{
                font-size: 1.125rem;
                line-height: 2;
                margin: 2rem 0;
            }
        }
        a{
            display: inline-block;
            padding: 1rem 3.5rem;
            background-color: var(--primary-color);
            color: #fff;
            font-size: 1.125rem;
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: bold;
            border-radius: 3rem;
        }
        a:hover{
            background-color: var(--primary-back);
        }

        .left,
        .right{
            width: 50%;
            padding: 1rem;
            display: flex;
        }

        .left{
           flex-direction: column;
           justify-content: center; 
           align-items: flex-start;
        }
        .right{
            .img-container{
                position: relative;
                width: 100%;
                aspect-ratio: 1/1;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 50%;
                    z-index: 1;
                }
            }
            .img-container::before{
                content: '';
                position: absolute;
                top: 2rem;
                left: 2rem;
                width: 100%;
                height: 100%;
                background-color: var(--primary-color);
                z-index: -1;
                border-radius: 61% 39% 75% 25% / 37% 70% 30% 63%;
            }
        }

        .gallery{
            margin-top: 10rem;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 1rem;
            .img-wrapper{
                overflow: hidden;
                aspect-ratio: 1;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    cursor: pointer;
                    transition: scale 1s ease;
                }
                img:hover{
                    scale: 1.1;
                }
            }
        }
    }
   #services{
    padding-bottom: 10rem;
    background-color: #1c1819;
    .img-container{
        position: relative;
        height: 70rem;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: top;
        }
    }
    .container{
        position: relative;
        margin-top: -20rem;
        color: #fff;
        z-index: 1;
        .list{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 3rem;
            .card{
                padding: 3rem ;
                background-color: #333;
                .title{
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-size: 1.5rem;
                    text-transform: capitalize;
                }
                p{
                    margin: 1rem 0 2rem;
                    color: #b3b3b3;
                    font-style: italic;
                }
                a{
                    text-transform: uppercase;
                    border-bottom: 2px solid #FFF;
                }
                a:hover{
                    color: #b3b3b3;
                }
                .number{
                    width: 8rem;
                    height: 8rem;
                    background-color: var(--primary-color);
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 3rem;
                }
            }
        }
    }
   }
   #menu{
        padding: 3.5rem 0;
        .container{
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
        h1{
            margin-bottom: 2rem;
            font-size: 2.25rem;
            line-height: 1.1;
            font-weight: bold;
        }
        p{
            max-width: 70%;
        }
        .list{
            margin-top: 2rem;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 12px;
            .card{
                height: 26rem;
                color: #fff;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .card1{
                background-image: url('../img/menu1.jpg');
            }
            .card2{
                background-image: url('../img/menu2.jpg');
            }
            .card3{
                background-image: url('../img/menu3.jpg');
            }
            .card4{
                background-image: url('../img/menu4.jpg');
            }
            .card5{
                background-image: url('../img/menu5.jpg');
            }
            .card6{
                background-image: url('../img/menu6.jpg');
            }

        }
   }


}